
-# Localisation data
-  lang = I18n.t :lang

-# Localisation specifics
-  lang_url = current_page.url =~ /(om-sidan|about)\/\z/ ? lang[:urls][:about][:next] : lang[:urls][:index][:next]

!!! 5
%html{ lang: I18n.locale.to_s }
  = partial 'partials/head'

  %body{ class: 'sans-serif' }

    .wrapper
      %header{ role: 'banner', class: 'mw7 pa3 pa4-l center lh-solid relative' }
        %h1{ class: 'mt0 mb3 f5' }
          %a{ class: 'link', href: lang[:urls][:index][:base] } Curriculum Vitae
        %h2{ class: 'subtitle mv0 gray f5 i normal' } Oscar Palmér

        %nav{ role: 'navigation', class: 'nav' }
          %ul{ class: 'list pl0 mv0 cf' }
            %li{ class: 'mr3 fl' }
              %a{ class: 'link', href: lang[:urls][:about][:base] }= lang[:about]
            %li{ class: 'fl' }
              %a{ class: 'link', href: lang_url }= lang[:text]

      %main{ role: 'main', class: 'mw7 center' }= yield

    %footer{ role: 'contentinfo', class: 'mw7 pa3 pa4-l center bt bw1 b--black-20 f6 cf' }
      %p{ class: 'mt0 mb2 mb0-l gray lh-solid fl-l' }
        &copy; 2019,
        %a{ class: 'link', href: 'https://oscar.pm' } Oscar Palmér
      %p{ class: 'mv0 gray lh-title fr-l' }
        = I18n.t(:footer)[:github]
        %a{ class: 'link', href: 'https://github.com/oscarpalmer/cv.oscar.pm' } GitHub.
