- document = I18n.t :document
- general = document[:general]
- work = document[:work]
- education = document[:education]
- languages = document[:languages]
- technology = document[:technology]
- miscellaneous = document[:miscellaneous]

%article{ 'aria-labelledby': 'general-heading', role: 'article' }
  %h2{ id: 'general-heading' }= general[:title]
  %ul
    %li= data.oscar[:name]
    %li
      %time{ datetime: '1992-01-02' }= general[:birthday]
    %li= data.oscar[:address]
    %li
      %a{ class: 'link', href: data.oscar[:phone][:value] }= data.oscar[:phone][:title]
    %li
      %a{ class: 'link', href: data.oscar[:email][:value] }= data.oscar[:email][:title]
    %li
      %a{ class: 'link', href: data.oscar[:website][:value] }= data.oscar[:website][:title]

%article{ 'aria-labelledby': 'work-heading', role: 'article' }
  %h2{ id: 'work-heading' }= work[:title]
  %ul
    - work[:items].each do |item|
      %li
        %b= item[:date]
        %i= item[:employer]
        =   item[:description]

%article{ 'aria-labelledby': 'edu-heading', role: 'article' }
  %h2{ id: 'edu-heading' }= education[:title]
  %ul
    - education[:items].each do |item|
      %li
        %b= item[:date]
        %i= item[:school]
        =   item[:description]

%article{ 'aria-labelledby': 'lang-heading', role: 'article' }
  %h2{ id: 'lang-heading' }= languages[:title]
  %ul
    - languages[:items].each do |item|
      %li
        %b= item[:title]
        =   item[:description]


%article{ 'aria-labelledby': 'tech-heading', role: 'article' }
  %h2{ id: 'tech-heading' }= technology[:title]
  %ul
    - technology[:items].each do |item|
      %li
        %b= item[:title]
        %i= item[:example]
        =   item[:description]
  - technology[:description].each do |desc|
    %p= desc
  %h3= technology[:development][:title]
  %ul
    - technology[:development][:items].each_with_index do |dev, index|
      %li
        %h4{ id: data.dev[:headings][index] + '-heading' }= dev
        %ul{ 'aria-labelledby': data.dev[:headings][index] + '-heading' }
          - data.dev[:items][index].each do |item|
            %li
              %a{ class: 'link', href: item[:value] }= item[:title]

%article{ 'aria-labelledby': 'misc-heading', role: 'article' }
  %h2{ id: 'misc-heading' }= miscellaneous[:title]
  %ul
    - miscellaneous[:items].each do |item|
      %li= item
