- general = I18n.t :general
- work = I18n.t :work
- education = I18n.t :education
- languages = I18n.t :languages
- technology = I18n.t :technology
- miscellaneous = I18n.t :miscellaneous

%section
  %h2= general[:title]
  %ul
    - general[:items].each do |item|
      %li
        %b= item[:title]
        =   item[:value]

%section
  %h2= work[:title]
  %ul
    - work[:items].each do |item|
      %li
        %b= item[:date]
        %i= item[:employer]
        =   item[:description]

%section
  %h2= education[:title]
  %ul
    - education[:items].each do |item|
      %li
        %b= item[:date]
        %i= item[:school]
        =   item[:description]

%section
  %h2= languages[:title]
  %ul
    - languages[:items].each do |item|
      %li
        %b= item[:name]
        =   item[:description]


%section
  %h2= technology[:title]
  %ul
    - technology[:items].each do |item|
      %li
        %b= item[:name]
        %i= item[:example]
        =   item[:description]
  - technology[:description].each do |desc|
    %p= desc
  %h3= technology[:languages][:title]
  %ul
    - technology[:languages][:items].each do |tech|
      %li
        %h4= tech[:title]
        %ul
          - tech[:items].each do |item|
            %li= item

%section
  %h2= miscellaneous[:title]
  %ul
    - miscellaneous[:items].each do |item|
      %li= item
