- general = I18n.t :general
- work = I18n.t :work
- education = I18n.t :education
- languages = I18n.t :languages
- technology = I18n.t :technology
- miscellaneous = I18n.t :miscellaneous

%section
  %h2= general[:title]
  %ul
    %li= data.oscar[:name]
    %li
      %time{ datetime: '1992-01-02' }= general[:birthday]
    %li= data.oscar[:address]
    %li
      %a{ class: 'link', href: data.oscar[:phone][:value] }= data.oscar[:phone][:title]
    %li
      %a{ class: 'link', href: data.oscar[:email][:value] }= data.oscar[:email][:title]
    %li
      %a{ class: 'link', href: data.oscar[:website][:value] }= data.oscar[:website][:title]

%section
  %h2= work[:title]
  %ul
    - work[:items].each do |item|
      %li
        %b= item[:date]
        %i= item[:employer]
        =   item[:description]

%section
  %h2= education[:title]
  %ul
    - education[:items].each do |item|
      %li
        %b= item[:date]
        %i= item[:school]
        =   item[:description]

%section
  %h2= languages[:title]
  %ul
    - languages[:items].each do |item|
      %li
        %b= item[:title]
        =   item[:description]


%section
  %h2= technology[:title]
  %ul
    - technology[:items].each do |item|
      %li
        %b= item[:title]
        %i= item[:example]
        =   item[:description]
  - technology[:description].each do |desc|
    %p= desc
  %h3= technology[:development][:title]
  %ul
    - technology[:development][:items].each_with_index do |dev, index|
      %li
        %h4= dev
        %ul
          - data.dev[:items][index].each do |item|
            %li
              %a{ class: 'link', href: item[:value] }= item[:title]

%section
  %h2= miscellaneous[:title]
  %ul
    - miscellaneous[:items].each do |item|
      %li= item
